.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

# Java compiler settings
android/.settings/
android/.project
android/app/.settings/
android/app/.classpath
android/app/.project

# VS Code Settings
.vscode/

# Android run script
emulator-run.bat